<h1>Current Projects</h1>
<table>
<thead>
  <tr>
      <th>Title</th>
      <th>Genre</th>
      <th>More info</th>
      <th>Edit</th>
      <th>Delete</th>
  </tr>
</thead>

<tbody>
<% @projects.each do |project| %>
  <tr>
    <td><%=project.title%></td>
    <td><%=project.genre%></td>
    <td><a href="/projects/<%= project.id %>">More info</a></td>
    <td><a href="/projects/<%= project.id %>/edit">Edit</a></td>
    <td><a href="#">Delete</a></td>
  </tr>
  <% end %>
</tbody>
</table>