<h2> Create a new project</h2>

<form action="/projects" method="post">
    <label for="genre">Genre of project</label>
    <input type="text" name="genre" id="genre"><br><br>
    <input type="submit" value="New Project"
</form>