<h2> Create a new project</h2>

<form action="/projects" method="post">
    <label for="title">Title of project</label>
    <input type="text" name="title" id="title"><br><br>
    <label for="genre">Genre of project</label>
    <input type="text" name="genre" id="genre"><br><br>
    <label for="info">Some information about the project</label>
    <input type="text" name="info" id="info"><br><br>
    <input type="submit" value="New Project">
</form>