<h2> Create a new project</h2>
<% if @errors  %>
    <ul class="red-text text-darken-2">
    <% @errors.each do |error| %>
     <li><%= error %></li>
    <% end %>
</ul>   

<% end %>

<form action="/projects" method="post">
    <label for="title">Title of project</label>
    <input type="text" name="project[title]" id="title" ><br><br>
    <label for="genre">Genre of project</label>
    <input type="text" name="project[genre]" id="genre" ><br><br>
    <label for="info">Some information about the project</label>
    <input type="text" name="project[info]" id="info" ><br><br>
    <label for="contact">Contact</label>
    <input type="text" name="project[contact]" id="contact" ><br><br>
    <input type="submit" value="Post Project" class="waves-effect waves-light btn-small light-blue accent-2">
</form>